<ion-header>
    <ion-toolbar>
        <ion-title>
            Ionic Blank
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content>
    <ion-button *ngIf='showAnterior' (click)="mostrarSiguientes()">
        <ion-icon slot="left" name="arrow-dropleft"></ion-icon>
        Anterior
    </ion-button>
    <ion-button (click)="mostrarSiguientes()">
        <ion-icon name="arrow-dropright"></ion-icon>
        Siguiente
    </ion-button>
    <ion-card *ngFor='let unit of visibleUnit'>
        <ion-card-content>
            <p>{{unit.id}}</p>
            <p>{{unit.secuencial}}</p>
            <p>{{unit.denominacion}}</p>
            <p>{{unit.codigoafip}}</p>
            <p>{{unit.coordenates}}</p>
            <p>{{unit.createdAt}}</p>
            <p>{{unit.updatedAt}}</p>
            <p>{{unit.provinciumId}}</p>
        </ion-card-content>
    </ion-card>
</ion-content>